#Nav1 {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  #Nav1, #Nav2 a {
    text-decoration: none;
  }
  
  #Nav1, #Nav2 {
    list-style-type: none;
  }
  
  .custom-padding{
    padding-top: 25px;
  }
  
  #Nav1, #Nav2 {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0;
    background: #333;
    z-index: 1;
    text-align: center;
    padding-right: 2%;
  }
  
  
  
  #Nav1, #Nav2 {
    display: inline-block;
  }
  
  #Nav1, #Nav2 {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
  }
  #Nav1 a:hover {
    background: tomato;
    color: #fff;
  }
  
  #Nav1 a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }

  li {
    display: inline;
  }

  li a {
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  







  